@font-face {
	font-family: "GothicA1-Regular";
	src: url(fonts/GothicA1/GothicA1-Regular.ttf);
}
@font-face {
	font-family: "GothicA1-Bold";
	src: url(fonts/GothicA1/GothicA1-Bold.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 100px;
	display: flex;
    align-items: center;
}

header .container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_menu ul {
	display: flex;
	list-style-type: none;
}
.section1{
    width: 100%;
    height: 880px;
    background-image: linear-gradient(to top left, #450E4B 0%, #3C0C41 24%, #cf0064 100%);
}

.container {
	max-width: 1152px;
	margin: 0 auto;
}

.main_menu li {
	margin: 0 15px;
}
.main_menu a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 20px;
}
.part1{
    display: flex;
    
}
.part1 h1{
    font-size: 80px;
    line-height: 80px;
}
.part1 h3{
    font-size: 30px;
    line-height: 44px;
}
.phone_div{
    z-index: 1;
    position: relative;
    top: 20px;
	left: 600px;
}
.part1_text{
    z-index: 2;
    position: absolute;
	top: 177.5px;
}
.phone_div img{
    height: 680px;
}
.btn_header{
	border: none;
	background-color: #FC0A7E;
	width: 170px;
	height: 66px;
	border-radius: 3px;
}
.btn_header a{
	text-decoration: none;
	color: #fff;
}
.btn_header p{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 26px;
}
.part1_text h4{
	margin-top: 22.5px;
	margin-bottom: 10px;
	font-family: "GothicA1-Regular";
	font-size: 80px;
	line-height: 80px;
	color: #fff;
	font-weight: 400;
}
.part1_text h3{
	margin-bottom: 25px;
	font-family: "GothicA1-Regular";
	font-size: 30px;
	line-height: 44px;
	color: #fff;
	font-weight: 400;
}

.arrow{
	justify-content: center;
	position: relative;
	z-index: 3;
	top: 630px;
	width: 9px;
	height: 40px;
}
.part2{
	width: 100%;
	height: 952px;
	background-color: #1B1B1B;
	justify-content: center;
	display: flex;
}
.part2_text{
	text-align: center;
	margin-top: 80px;
	padding-top: 20px;
	padding-bottom: 55px;
}
.part2_text h4{
	margin: 0 0 25px 0;
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
	color: #A8A8A8;
	font-weight: 400;
	letter-spacing: 2px;
}
.part2_text h3{
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	color: #FFFFFF;
	font-weight: 400;
}
.part3{
	display: flex;
}
.part3_text p{
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
	color: #A8A8A8;
	font-weight: 400;
	letter-spacing: 2px;
}
.part3_text h3{
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	color: #000;
	font-weight: 400;
}
.part3_text h4{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 30px;
	color: #6B6B6B;
	font-weight: 400;
}
.part3_first, .part3_second, .part3_third{
	display: flex;
	width: 1296px;
	justify-content: center;
}
.part3_text{
	width: 450px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.part3_img{
	width: 558px;
	display: flex;
	justify-content: center;
}
.part3_first{
	margin-top: 80.5px;
	margin-bottom: 160px;
}
.part3_second .part3_text{
	margin-left: 144px;
}
.part3_second{
	margin-bottom: 160px;
}
.part3_first .part3_text h3{
	margin: 25px 0 22px 0;
}
.part3_second .part3_text h3{
	margin: 20px 0 27px 0;
}
.part3_third .part3_text h3{
	margin: 25px 0 22px 0;
}
.part3_third{
	margin-bottom: 159px;
}
.part4 .container{
	width: 100%;
	margin: 0 auto;
}

.part4_first, .part4_second, .part4_third{
	height: 209px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.part4_div{
	display: flex;
	justify-content: center;
	width: 100%;
	margin-bottom: 160px;
}
.part4_img{
	height: 35px;
}
.part4_text{
	text-align: center;
	width: 100%;
}
.part4_text h3{
	font-family: "GothicA1-Bold";
	font-size: 18px;
	line-height: 24px;
	margin-top: 40px;
	margin-bottom: 17px;
}
.part4_first, .part4_second{
	margin-right: 61px;
}
.part4_text h4{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 30px;
	color: #6B6B6B;
	margin-bottom: 3px;
	width: 100%;
}

.part5_first, .part5_second, .part5_third, .part5_fourth{
	display: flex;
	height: 134px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
}
.part5_div{
	display: flex;
	justify-content: center;
	text-align: center;
	width: 100%;
	margin-bottom: 160px;
}
.part5_div h3{
	font-family: "GothicA1-Regular";
	font-size: 59px;
	line-height: 90px;
	font-weight: 400;
}
.part5_div h4{
	font-family: "GothicA1-Bold";
	font-size: 18px;
	line-height: 24px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.part6_first, .part6_second{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.part6_div p{
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #A8A8A8;
}
.part6_first h2{
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 22px;
}
.part6_first h3{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #6B6B6B;
	margin-right: 82px;
}
.part6_bold{
	font-family: "GothicA1-Bold";
	text-decoration: underline;
}
.part6_second h2{
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 27px;
	margin-left: 77px;
}
.part6_second h3{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #6B6B6B;
	margin-left: 77px;
}
.part6_first p{
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #A8A8A8;
}
.part6_second p{
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	color: #A8A8A8;
	margin-left: 77px;
}
.part6_second{
	margin-bottom: 160px;
	margin-top: 161px;
}
.part7_div{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
}
.part7_second{
	display: none;
}
.part7_div .quotes{
	width: 58px;
	height: 54px;
	margin-bottom: 63px;
}
.line{
	width: 30px;
	height: 1px;
	background-color: #D3D3D3;
	margin: 0 20px;
}
.part7_text{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 17px;
	margin-bottom: 88px;
}
.part7_div h3{
	font-family: "GothicA1-Regular";
	font-size: 24px;
	line-height: 40px;
	font-weight: 400;
	color: #6B6B6B;
}
.part7_text h2{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #6B6B6B;
}
.part7_text h1{
	font-family: "GothicA1-Bold";
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #6B6B6B;
}
.line1{
	width: 7px;
	height: 7px;
	background-color: rgba(34, 34, 34, 1);
	margin: 0 8px;
	cursor: pointer;
}
.line2{
	width: 7px;
	height: 7px;
	background-color: rgba(34, 34, 34, 0.4);
	margin: 0 8px;
	cursor: pointer;
}

.lines{
	display: flex;
	margin-bottom: 142px;
}
.part7_div .icons{
	margin-bottom: 118px;
}
.part8_div img{
	width: 100%;
}

.part8_div{
	display: flex;
	min-height: 100%;
}
.part9{
	background:url("img/waves.png"),
	 linear-gradient(to top left, #6E28B1 0%, #fc0a7f00  100%), #fc0a7f;
	width: 100%;
	height: 474px;
}
.part9_div{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	text-align: center;
}
.part9_div h3{
	margin-top: 164px;
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	font-weight: 400;
	color: #FFFFFF;
	margin-bottom: 40px;
}
.part9_1{
	width: 190px;
	height: 66px;
	border-radius: 3px;
	background-color: #FC0A7E;
	border: none;
	cursor: pointer;
}
.part9_2{
	width: 171px;
	height: 66px;
	border: #B04BB3 1px solid;
	background-color: #00000000;
	border-radius: 3px;
	cursor: pointer;
}
.btns p{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #FFFFFF;
}
footer{
	background-color: #1B1B1B;
	height: 725px;
}
.footer1_text{
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
}
.footer1_text h3{
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	font-weight: 400;
	color: #FFFFFF;
	margin: 129px 0 20px 0;
}
.footer1_text p{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #6B6B6B;
	margin-bottom: 40px;
}
.footer1_email ::placeholder{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #1C1C1C;
}
#email{
	width: 311px;
	height: 70px;
	border-radius: none;
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
	border: none;
	padding-left: 10px;
}
.btn {
	display: flex;
	background: #FC0A7E;
	color: #1C1C1C;
	width: 154px;
	height: 70px;
	font-weight: 400;
	cursor: pointer;
	text-align: center;
	justify-content: center;
	align-items: center;
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #1C1C1C;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
  }
.modal{
	display: none;
	justify-content: center;
}
.footer1_email1{
	display: flex;
	justify-content: center;
}
.content-modal{
	display: flex;
	flex-direction: column;
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 26px;
	font-weight: 400;
	color: #fff;
	align-items: center;
}
.close{
	cursor: pointer;
	color: red;
}
.footer2_div{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.footer2_div img{
	width: 136px;
	height: 104px;
	margin: 146px 0 29px 0;
}
.footer2_links ul{
	display: flex;
	list-style-type: none;
}
.footer2_links a{
	color: #6B6B6B;
	text-decoration: none;
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
}
.footer2_links li{
	margin: 0 15px;
}
