@font-face {
	font-family: "GothicA1-Regular";
	src: url(fonts/GothicA1/GothicA1-Regular.ttf);
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	width: 100%;
	height: 100px;
	display: flex;
    
}

header .container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main_menu ul {
	display: flex;
	list-style-type: none;
}
.section1{
    width: 100%;
    height: 880px;
    background-image: linear-gradient(to top left, #450E4B 0%, #3C0C41 24%, #cf0064 100%);
}

.container {
	max-width: 1152px;
	margin: 0 auto;
}

.main_menu li {
	margin: 0 15px;
}
.main_menu a {
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 20px;
}
.part1{
    display: flex;
    
}
.part1 h1{
    font-size: 80px;
    line-height: 80px;
}
.part1 h3{
    font-size: 30px;
    line-height: 44px;
}
.phone_div{
    z-index: 1;
    position: relative;
    top: 20px;
	left: 600px;
}
.part1_text{
    z-index: 2;
    position: absolute;
	top: 177.5px;
}
.phone_div img{
    height: 680px;
}
.btn_header{
	border: none;
	background-color: #FC0A7E;
	width: 170px;
	height: 66px;
	border-radius: 3px;
}
.btn_header a{
	text-decoration: none;
	color: #fff;
}
.btn_header p{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 26px;
}
.part1_text h4{
	margin-top: 22.5px;
	margin-bottom: 10px;
	font-family: "GothicA1-Regular";
	font-size: 80px;
	line-height: 80px;
	color: #fff;
	font-weight: 400;
}
.part1_text h3{
	margin-bottom: 25px;
	font-family: "GothicA1-Regular";
	font-size: 30px;
	line-height: 44px;
	color: #fff;
	font-weight: 400;
}

.arrow{
	justify-content: center;
	position: relative;
	z-index: 3;
	top: 630px;
	width: 9px;
	height: 40px;
}
.part2{
	width: 100%;
	height: 952px;
	background-color: #1B1B1B;
	justify-content: center;
	display: flex;
}
.part2_text{
	text-align: center;
	margin-top: 80px;
	padding-top: 20px;
	padding-bottom: 55px;
}
.part2_text h4{
	margin: 0 0 25px 0;
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
	color: #A8A8A8;
	font-weight: 400;
	letter-spacing: 2px;
}
.part2_text h3{
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	color: #FFFFFF;
	font-weight: 400;
}
.part3{
	display: flex;
}
.part3_text p{
	font-family: "GothicA1-Regular";
	font-size: 12px;
	line-height: 20px;
	color: #A8A8A8;
	font-weight: 400;
	letter-spacing: 2px;
}
.part3_text h3{
	font-family: "GothicA1-Regular";
	font-size: 38px;
	line-height: 48px;
	color: #000;
	font-weight: 400;
}
.part3_text h4{
	font-family: "GothicA1-Regular";
	font-size: 16px;
	line-height: 30px;
	color: #6B6B6B;
	font-weight: 400;
}
.part3_first, .part3_second, .part3_third{
	display: flex;
	width: 1296px;
	justify-content: center;
}
.part3_text{
	width: 450px;
	justify-content: center;
	display: flex;
	flex-direction: column;
}
.part3_img{
	width: 558px;
	display: flex;
	justify-content: center;
}
.part3_first{
	margin-top: 80.5px;
	margin-bottom: 160px;
}
.part3_second .part3_text{
	margin-left: 144px;
}
.part3_second{
	margin-bottom: 160px;
}
.part3_first .part3_text h3{
	margin: 25px 0 22px 0;
}
.part3_second .part3_text h3{
	margin: 20px 0 27px 0;
}
.part3_third .part3_text h3{
	margin: 25px 0 22px 0;
}
.part3_third{
	margin-bottom: 159px;
}